*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
}

.menu{
    height: 80px;
    background: #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .brand img {
    width: 150px;
    height: 80px;
}

.menu a{
    padding: 12px 14px;
    text-decoration: none;
    font-weight: 900;
    color: saddlebrown;
}
 
.toggler{
     padding: 12px 14px;
     font-size: 1.4em;
     display: none;
     background-color: royalblue;
     border: none;
     box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
     color: #fff;
     position: absolute;
     right: 15px;
     top: 15px;
}

/* section */

section{
    padding: 10px;
    width: 100% auto;

}

section .row{
    display: flex;
    padding: 30px;
}

.image{
    padding: 80px;
}

.image img{
      max-width: 100%;
      padding: 2px;
}

 .content{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content h1{
    font-size: 4rem;
    word-break: break-all;
}

.btn{
    background-color: #6C63FF;
    padding: 15px 80px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 800;
    }
/* media query */
@media screen and (max-width:768px) {
    .menu {
        display: block;

    }

    .menu .right-menu {
        display: none;
    }

    .toggler{
        display: block;
    }

    .menu .right-menu.responsive{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu .right-menu.responsive a{
        padding: 12px 14px;
        background-color: #e1e1f1;
        margin-top: 5px;
    }
    
    /* section */

    section .row{
        display: flex;
        flex-direction: column-reverse;
    }
}

